name,display_name,provider,config
aws_china,AWS China(ACCOUNT_ID),aws,AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY|AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY|AWS_REGION=cn-north-1
huawei_china,Huawei China(ACCOUNT_NAME),huawei,HUAWEI_ACCESS_KEY_ID=YOUR_HUAWEI_ACCESS_KEY|HUAWEI_SECRET_ACCESS_KEY=YOUR_HUAWEI_SECRET_KEY|HUAWEI_REGION=cn-north-1|HUAWEI_IS_INTERNATIONAL=false
huawei_intl,Huawei International(ACCOUNT_NAME),huawei,HUAWEI_ACCESS_KEY_ID=YOUR_HUAWEI_ACCESS_KEY|HUAWEI_SECRET_ACCESS_KEY=YOUR_HUAWEI_SECRET_KEY|HUAWEI_REGION=ap-southeast-1|HUAWEI_IS_INTERNATIONAL=true